
<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <p> <%= @question %></p>
      <p> - You</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <p><%= @answer %></p>
      <p> - Your coach</p>
    </div>
  </div>
  <%= link_to "new question", ask_path %>

</div>





